body {
  margin: 5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B0D0D3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-input {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.custom-textarea {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  color: #495057;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  height: 100px;
}